.footer {
    background-color: black;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        @include title(14px, white);
        text-transform: uppercase;
        margin: 38px 0 8px 0;
    }
    &__info {
        color: #B9B9B9;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        margin-bottom: 26px;
        max-width: 303px;
    }
    &__social-media {
        display: flex;
        margin-bottom: 25px;
    } 
    &__item:not(:last-child) {
        margin-right: 9px;
    }
    &__item-rss {
        @include social-media(#F8902E)
    }
    &__item-fcb {
        @include social-media(#39599F)
    }
    &__item-twt {
        @include social-media(#45B0E3)
    }
    &__item-drb {
        @include social-media(#D97AB0)
    }
    &__item-pnt {
        @include social-media(#CC212C)
    }
    &__contacts {
        line-height: 24px;
        display: inline-block;
        font-size: 14px;
        color: #B9B9B9;
        text-align: center;
        max-width: 200px;
        margin-bottom: 47px;
    }
}