.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
    &__nav {
        display: none;
        align-self: center;
        margin: 41px 0 43px 0;
    }
    &__item {
        color: $titlecolor;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }
    &__item:hover {
        color:#57A4A4;
    }
    &__burger {
        position: relative;
        align-self: flex-end;
        background-color: black;
        width: 44px;
        height: 37px;
        @include center;
        flex-direction: column;
        margin: 23px 0;
        cursor: pointer;
    }
    &__burger-line {
        &::before, &::after {
            content: '';
            position: absolute;
            width: 17px;
            height: 2px;
            background-color: white;
        }
        &::before {
            bottom: 4px;
            left: 0;
            transition-property: top, transform;
        }
        &::after {
            top: 4px;
            left: 0;
            transition-property: bottom, transform;
        }
    }
    &__burger-line--active {
        &::before {
          top: 0px;
          transform: rotate(45deg);
        }
        &::after {
          top: 0px;
          transform: rotate(-45deg);
        }
    }
    &__burger-line {
        position: relative;
        width: 17px;
        height: 2px;
        background-color: white;
    }
    &__burger-line--active {
        background: #000;
      }
    &__burger-line:not(:last-child) {
        margin-bottom: 2px;
    }
    &__burger-nav {
        display: none;
        position: absolute;
        top: 37px;
        right: 0;
        background: #F5F5F5;
        width: 182px;
    }
    &__burger-nav--active {
        display: block;
    }
    &__burger-item {
        width: 100%;
        display: inline-block;
        padding: 10px 0 10px 13px;
        text-transform: uppercase;
        color:#4E4E4E;
        font-size: 11px;
    }
   
    &__burger-item:hover {
        background-color: #E5E5E5;
        color:#57A4A4;
    }
    &__img img {
        width: 100%;
    }
}
