.insta {
    &__title {
        @include title;
        text-transform: uppercase;
        margin-bottom: 13px;
    }
    &__title2 {
        display: none;
    }
    &__subtitle {
        display: none;
    }
    &__gallery {
        display: flex;
        justify-content: space-between;
        margin-bottom: 42px;
    }
    &__item img {
        width: 301px;
        height: 301px;
    }
    &__item:not(:nth-of-type(1)) {
        display: none;
    }
}
