@media (min-width: 768px) {
    .header {
        &__nav {
            display: flex;
        }
        &__item:not(:last-child) {
            margin-right: 34px;
        }
        &__burger {
            display: none;
        }
    }

    .posts {
        &__title-container {
            display: flex;
            justify-content: center;
        }
        &__title {
            @include title(16px);
        }
        &__subtitle {
            @include title(16px);
        }
        &__img {
            margin: 0;
        }
        &__item {
            display: flex;
            margin-bottom: 30px;
        }
        &__info {
           margin-left: 21px;
        }
        &__text {
            display: block;
            color: #5C5C5C;
            font-size: 14px;
            line-height: 26px;
            font-family: $mainfont;
        }
    }

    .insta {
        background: rgba(0, 0, 0, 0.034);
        display: flex;
        justify-content: center;
        &__container {
            width: 1200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 47px;
        }
        &__title {
            display: none;
        }
        &__title2 {
            display: block;
            @include title(16px);
            margin-bottom: 35px;
            text-transform: uppercase;
        }
        &__subtitle {
            font-family: $mainfont;
            display: block;
            margin-bottom: 35px;
            text-transform: uppercase;
            font-weight: 700;
        }
        &__gallery {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 42px;
        }
        &__item:not(:nth-of-type(3)) {
            margin-right: 9px;
        }
        &__item img {
            width: 250px;
            height: 250px;
        }
        &__item:not(:nth-of-type(4)) {
            display: block;
        }
    }

    .footer {
        &__title {
            @include title(16px, white);
        }
        &__info {
            font-size: 16px;
            max-width: 470px;
        }
        &__contacts {
            font-size: 16px;
            max-width: 613px;
        }
    }
}



@media (min-width: 1200px) {
    .wrapper {
        max-width: 1200px;
    }

    .header {
        &__item:not(:last-child) {
            margin-right: 68px;
        }
    }

    .posts {
        &__container {
            display: flex;
            width: 1200px;
            flex-wrap: wrap;
        }
        &__item:not(:nth-of-type(2n)) {
            margin-right: 86px;
        }
    }

    .insta {
        &__item:not(:last-child) {
            margin-right: 10px;
        }
        &__item img {
            width: 292.5px;
            height: 292.5px;
        }
        &__item:last-of-type {
            display: block;
        }
    }
}