@mixin posts-info($fontsize: 11px) {
    font-size: $fontsize;
    color:#7C7C7C;
    font-family: $mainfont;
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin title($fontsize: 14px, $color: $titlecolor) {
    font-size: $fontsize;
    color: $color;
    font-family: $mainfont;
    font-weight: bold;
}
@mixin social-media($color) {
    width: 34px;
    height: 34px;
    @include center;
    border: 2px solid $color;
    box-sizing: border-box;
    border-radius: 30px;
}

