.posts {
    &__title {
        @include title;
        margin-bottom: 23px;
        text-transform: uppercase;
    }
    &__container {
        margin-bottom: 30px;
    }
    &__img {
        margin-bottom: 20px;
    }
    &__subtitle {
        @include title;
        margin-bottom: 10px;
    }
    &__about {
        color:#7C7C7C;
        font-size: 11px;
        margin-bottom: 29px;
        display: inline-block;
    }
    &__text {
        display: none;
    }
}



